---
layout: main
---

<p>
I am a theoretical Astrophysicist, currently a PhD candidate in the Astronomy Department at Yale University. 
My primary research interests are planet formation theory and protoplanetary disks.
I am also interested in orbital dynamics in binary systems, exoplanetary demographics and architectures, computational astrophysics, and general astrophysical magneto-hydrodynamics involving instabiliies and turbulence, as well as related applications in meteorology and atmospheric physics.
</p>
<p>
I am currently working with <a href="https://astronomy.yale.edu/people/gregory-laughlin">Greg Laughlin</a> who is my thesis adviser. 
Additionaly, I have ongoing collaborations with <a href="http://www.astro.yale.edu/malenarice/">Malena Rice</a> (Yale), Min-Kai Lin (ASIAA), and Rixin Li (Berkeley).
Prior to Yale, I went to Ruprecht Karl's University Heidelberg, Germany, where I graduated with a Bachelor's in 2017 and a Master's in 2019. 
I have worked at the Max-Planck Institute for Astronomy with <a href="https://www.mpia.de/person/32777/1415887">Hubert Klahr</a> from 2016-2020, and spent a year in 2018/19 at the Department for Astrophysics and Astronomy at UC Santa Cruz working with <a href="https://murrayclay.astro.ucsc.edu/">Ruth Murray-Clay</a>.
</p>
<p>
  This webpage includes an overview of my research highlights summarized an accessible astrobites-type style, a list of my latest publications, and my CV. 
</p>



<!--
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
-->


<style>
  .cover-image {
    background-image: url("assets/img/website_cover.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    width: 100%;
  }
</style>
<!--
<div class="cover-image"></div>
-->
<!--
<video autoplay loop muted playsinline style="width: 100%; max-width: 800px; display: block; margin: 0 auto;">
  <source src="assets/img/overstab.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline style="width: 100%; max-width: 800px; display: block; margin: 0 auto;">
  <source src="assets/img/vortexformation.mov" type="video/mp4">
  Your browser does not support the video tag.
</video>
-->